.container {
    position:relative;
    height: 250px;
}

.buttonsBlock {
    position:absolute;
    bottom:0;
}

.userList {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 10px;
}