.wrapper {
    padding-right: 5px;
    padding-left:  5px;

    position: fixed;
    top: 40px;
    left: -250px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.wrapper:hover {
    left: 0;
}

.notActive {
    color: #e0fff8;
}

.active {
    color: #e7b7f1;
}

.NavigationIcon {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 40px;
    filter: brightness(3)
}

