
.red {
    background: red;
}

.default {
    background-color: #d5fff6;
    color: #2b2b2b;
    outline: none;
}

.default:hover {
    background-color: #8ae5cd
}

button:disabled {
    opacity: 0.7;
}

